/ClaseAbstracta/nbproject/private/
/Encapsulamiento/build/
/Encapsulamiento/dist/
/Encapsulamiento/nbproject/private/
/Herencia/nbproject/private/
/POKEMON en JAVA POO/nbproject/private/
/POKEMON en JAVA POO/build/
/POKEMON en JAVA POO/dist/
